<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit author</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<p>
    <a th:href="@{/authors}" th:text="#{button.allAuthors}" method="get" href="authors.html">Get all authors</a> </br>
</p>

<!-- Author edition -->
<form id="edit-form" th:action="@{/author(id=${author.id})}" th:method="post" action="authors.html">

    <h1 th:text="#{author.title}">Author Info:</h1>

    <div class="row">
        <label for="id-input" th:text="#{author.form.id}">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${author.id}" value="1"/>
    </div>

    <div class="row">
        <label for="name-input" th:text="#{author.form.name}">Name:</label>
        <input id="name-input" name="name" type="text" th:value="${author.name}" value="Alexandre Dumas" required/>
    </div>

    <div class="row">
        <button type="submit" th:text="#{form.button.save}">Save</button>
    </div>
</form>

<div>
    <p th:text="#{lang.change}">Language:</p>
    <a th:text="#{lang.eng}" href="?lang=en_EN">English</a>
    <a th:text="#{lang.rus}" href="?lang=ru_RU">Russia</a>
</div>

</body>
</html>