<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<p>
    <a method="get" href="/authors">Get all books</a> </br>
</p>
<!-- Book edition -->
    <h1>Book Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" type="text" readonly="readonly" value="-1"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" required/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>
        <select id="author-input" name="author" required></select>
    </div>

    <div class="row">
        <p id="genres-input">Genres:
        </p>
    </div>

    <div class="row">
        <button onclick="callBook()" type="submit">Save</button>
    </div>

<a href="/logout">Logout</a>

<script src="../static/tasa.js"> </script>
<script src="../webjars/jquery/3.3.1/jquery.min.js"></script>

<script>
    $(function () {
        fillAuthors();
        fillGenres();
        fillBookData();
    });
</script>

</body>
</html>